<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">New Bid Offer</h2>
    </div>
  </div>
  <%= form_for(@bidOffer,url: admin_bid_offer_path) do |f| %>
    <% if @bidOffer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@bidOffer.errors.count, "error") %> prohibited this bidOffer from being saved:</h2>
        <ul>
          <% @bidOffer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Basic Form Elements
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>offerName</label>
                  <%= f.text_field :offer_name, class: "form-control", placeholder: "Enter offerName", :required => true %>
                </div>
                <div class="form-group">
                  <label>offerPrice</label>
                  <%= f.text_field :offer_price, class: "form-control", placeholder: "Enter offerPrice", :required => true %>
                </div>
                <div class="form-group">
                  <label>startedAt</label><br>
                  <%= f.datetime_select :started_at, class: "form-control", placeholder: "Enter started_at", :required => true %>
                </div>
                <div class="form-group">
                  <label>Status</label>
                  <%= f.select :status, options_for_select([['Active', true], ['Inactive', false]], selected: f.object.status),{}, {class: 'form-control'} %>
                </div>
                <button type="submit" class="btn btn-primary">Submit Offer</button>
                <button type="reset" class="btn btn-default">Reset Form</button>
              </div>
              <!-- /.col-lg-6 (nested) -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label>offerImageUrl</label>
                  <%= f.text_area :offer_image_url, class: "form-control", placeholder: "Enter offer_imageurl", :required => true %>
                </div>
                <div class="form-group">
                  <label>offerVideoUrl</label>
                  <%= f.text_field :offer_video_url, class: "form-control", placeholder: "Enter offer_videourl" %>
                </div>
                <div class="form-group">
                  <label>endedAt</label><br>
                  <%= f.datetime_select :ended_at, class: "form-control", placeholder: "Enter ended_at", :required => true %>
                  <%#= f.datetime_select :ended_at, :ampm => true, :minute_step => 15 %>
                </div>
                <div class="form-group">
                  <label>offerDescription</label>
                  <%= f.text_area :offer_desc ,class: "form-control", placeholder: "Enter offerDescription", :required => true %>
                </div>
              </div>
              <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  <% end %>
